html, body {
    margin: 0;
    padding: 0;
}
#slider {
	position: relative;
    overflow: hidden;
    height: 600px;
}
.slide-show {
	position: absolute;
    height: 100%;
}
.single-slide {
	position: absolute;
    top: 0;
    bottom: 0;
}
.single-slide>img {
    width: 100vw;
    height: 100%;
}
.slide-caption {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    color: #fff;
    font-size: 4em;
}
.slider-arrows button {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;    
}
.slider-arrows button.prev-slide {
	position: absolute;
    left: 0;
}
.slider-arrows button.next-slider {
	position: absolute;
    right: 0;
}
